@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto clicca il tasto qui sotto per andare a visualizzare la lista</h1>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Spesa")'">Visualizza o crea la lista della spesa</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Lollo</a>.</p>
</div>
