@model SpesaListViewModel
<div class="container">
    <h1>Inizio visualizzazione @DateTime.Now</h1>
    <h2>Lista della spesa personalizzata</h2>
    <h3>Selezionare i dati richiesti</h3>
</div>
<table>
    <thead>
        <tr>
            <th>Nome Prodotto</th>
            <th>Quantità</th>
            <th>Prezzo attuale del singolo prodotto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash">Elimina</i></button>
            </td>
            <td>
                <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i>Modifica</button>
            </td>
        </tr>
        
    </tbody>
</table>
